/* Estilos generales */
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

/* Zona 1 - Banner principal */
.Zona1 {
	position: relative;
	width: 100%;
	height: 130vh;
	background: url(/img/imgHotel/casavegas_I2.jpg);
	background-size: cover;
	background-position: center center;
}
